<<<<<<< HEAD
<h1>Hh#favorite</h1>

<p>
  <%= @greeting %>, find me in app/views/hh_mailer/favorite.html.erb
</p>
=======
<h1><%= @home.created_by.name %></h1>

<p> <%= @current_user.name %> has favorited your home at <%= @home.address %>, <%= @home.city %>, <%= @home.state %>, on <%= Time.now.asctime %>.</p>
>>>>>>> 33a2a16302cd13e30f994602051fd115a1b09b64
