<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    <%= Rails.application.class.parent_name %>
  </title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-pages">

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>
    <body>

    <div class="page-header text-center">
      <h1>Welcome to House Hunters</h1>
      <h1><small>We will do what we can to find the house of your dreams</small></h1>
    </div>



    <div class="sign row">
      <div class="col-md-3"> </div>
      <div class="col-md-2"><%= link_to login_path do %> <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Sign In</button><% end %></div>
      <div class="col-md-2"><%= link_to new_home_path do %> <button type="button" class="btn btn-lg btn-success" disabled="disabled"> Add Listing</button><% end %></div>
      <div class="col-md-2"><%= link_to homes_path do %> <button type="button"  class="btn btn-lg btn-info" disabled="disabled"> Current Listings </button><% end %></div>
      <div class="col-md-3"> </div>
    </div>

  </div>

  <div class="landing row">
    <div class="pic col-md-2"><%= image_tag("lightblue.jpg", size: "250x250", :alt => "Promo Image") %></div>
    <div class="col-md-6"></div>
    <div class="pic col-md-2"><%= image_tag("darkblue.jpg", size: "250x250", :alt => "Promo Image") %></div>
    <div class="col-md-2"></div>
  </div>

    <div class="container">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="What kind of home are you looking for?">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
    </div>

  <div class="landing row">
    <div class="pic col-md-2"><%= image_tag("gleft.jpg", size: "250x250", :alt => "Promo Image") %></div>
    <div class="col-md-6"></div>
    <div class="pic col-md-2"><%= image_tag("gright.jpg", size: "250x250", :alt => "Promo Image") %></div>
    <div class="col-md-2"></div>
  </div>

  </body>
</body>
</html>
