<div class="jumbotron jumbotron-index">
  <h1>Houses Hunted</h1>
  <div id="search"></div>
  <div class="container">
    <div class="searchbar">
      <div class="">
        <%= form_tag(homes_path, :method => "get", id: "search-form") do %>
        <div class="input-group input-group-lg">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Where would you like your dream home to be?" %><span class="input-group-btn"><%= submit_tag "Search", class: "btn btn-default" %></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if logged_in? %>
    <%= link_to new_home_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Like to add a home?
    <% end %>
  <% end %>
</div>

<div class="container-fluid">
  <ul class="s-ul">
    <%= render @homes %>
  </ul>
</div>

<div class="container text-center">
  <%= paginate @homes do %>
    <nav>
      <ul class="pagination pagination-lg">
        <%= first_page_tag unless current_page.first? %>
        <%= prev_page_tag unless current_page.first? %>
        <% each_page do |page| %>
          <% if page.left_outer? || page.right_outer? || page.inside_window? %>
            <%= page_tag page %>
          <% end %>
        <% end %>
        <%= next_page_tag unless current_page.last? %>
        <%= last_page_tag unless current_page.last? %>
      </ul>
    </nav>
  <% end %>
  <%= page_entries_info @homes %>
</div>
