

  <div class="input-group">
    <%= form_tag(homes_path, :method => "get", id: "search-form", class: "navbar-form navbar-right form-inline") do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search", style: 'width: 900px' %>
      <%= submit_tag "Search", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>

<div class="jumbotron">
  <h1 Listing>Houses Hunted</h1>
  <% if logged_in? %>
    <%= link_to new_home_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Like to add a home?
    <% end %>
  <% end %>
</div>

<ul class="list-group homes-list-group">
  <% if @homes.empty? %>
    <%= render 'empty_homes' %>
  <% else %>
    <%= render @homes %>
  <% end %>
  <%= paginate @homes %>
</ul>
