
  <div class="jumbotron">
    <h1 Listing>Homes for Sale</h1>
  </div>



  <div class="header">
    <% if logged_in? %>
      <%= link_to new_home_path, class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Home
      <% end %>
    <% end %>
  </div>



  <%- @homes.each do |home| %>

  <div class="media-body">
      <%= image_tag ( home.image_url(:small)) %>
    <h4 class="media-heading"><%= home.address %></h4>
      <p>

        <%= home.city %> , <%= home.state %> <%= home.zip %>
      </p>
        $ <%= home.price %>
      <p><%= home.bedroom %> bedrooms , <%= home.bath %> bathrooms</p>





  </div>
  <% end %>
