
<div class="page-header">
  <% unless logged_in? %>
    <%= link_to new_home_path, class: 'btn btn-default' do %>
      New Home
    <% end %>
  <% end%>
  <h1 Listing>Homes for Sale</h1>
</div>
<%- @homes.each do |home| %>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="" width="155" height="150">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= home.address %></h4>
        <p>
        <%= home.city %> , <%= home.state %> <%= home.zip %>
        </p>
        $ <%= home.price %>
        <p><%= home.bedroom %> bedrooms , <%= home.bath %> bathrooms</p>

    </div>
    <div>

    </div>
<% end %>
