<div class="page-header">
  <%= link_to homes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_home_path(@home), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show home</h1>
</div>

<dl class="dl-horizontal">
  <dt>Address:</dt>
  <dd><%= @home.address %></dd>

  <dt>City:</dt>
  <dd><%= @home.city %></dd>

  <dt>State:</dt>
  <dd><%= @home.state %></dd>

  <dt>Zip:</dt>
  <dd><%= @home.zip %></dd>

  <dt>Bedroom:</dt>
  <dd><%= @home.bedroom %></dd>

  <dt>Bath:</dt>
  <dd><%= @home.bath %></dd>

  <dt>Square feet:</dt>
  <dd><%= @home.square_feet %></dd>

  <dt>Price:</dt>
  <dd><%= @home.price %></dd>

  <dt>Description:</dt>
  <dd><%= @home.description %></dd>

  <dt>Parking:</dt>
  <dd><%= @home.parking %></dd>

  <dt>Img data:</dt>
  <dd><%= @home.img_data %></dd>

  <dt>Roof type:</dt>
  <dd><%= @home.roof_type %></dd>

  <dt>Lot size:</dt>
  <dd><%= @home.lot_size %></dd>

  <dt>Hoa:</dt>
  <dd><%= @home.hoa %></dd>

  <dt>Hoa fee:</dt>
  <dd><%= @home.hoa_fee %></dd>

  <dt>Number of floors:</dt>
  <dd><%= @home.number_of_floors %></dd>

  <dt>Year built:</dt>
  <dd><%= @home.year_built %></dd>

</dl>
